<h1>Ajouter un film à la liste : <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <% if @bookmark.errors.any? %>
    <h2><%= pluralize(@bookmark.errors.count, "erreur") %> interdit cette action :</h2>
    <ul>
      <% @bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= f.association :movie, collection: Movie.all, prompt: "Select a movie", class: "form-control" %>
  <%= f.input :comment, label: "Ajouter un commentaire" %>

  <%= f.submit "Ajouter ce film à la liste" %>
<% end %>

<%= link_to 'Retour à la liste des films', @list %>
